<!-- TODO: Make sure the active class works -->
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Archieve Your Grade</title>

  <!-- Font Awesome for Awesome icons  -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
  <!-- My own stylesheet -->
  <link rel="stylesheet" href="/stylesheets/main.css">
  <!-- Semantic -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- JQuery -->
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  <!-- Semantic JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  <!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.0/css/mdb.min.css" rel="stylesheet">
</head>

<body class="bodyBackground">
  <!-- NavBar -->
  <div class="ui secondary pointing menu">
    <a class="item huge header" href="/">
      AYG
    </a>
    <a class="item" href="/classes">
      Classes
    </a>
    <div class="right menu">
      <% if(!currentUser){ %>
      <a class="ui item" href="/register">
        <i class="fas fa-user-plus"> Signup</i>
      </a>
      <a class="ui item" href="/login">
        <i class="fas fa-user"> Login</i>
      </a>
      <% } else{ %>
      <a class="ui item" href="/">
        SignedIn As
        <%= currentUser.username %>
      </a>
      <a class="ui item" href="/logout">
        <i class="fas fa-user"> Logout</i>
      </a>
      <% } %>
    </div>
  </div>

  <!-- Flash messages in all pages -->
  <div class="container">
    <% if(error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
    <% } %>
    <% if(success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
    <% } %>
  </div>
