<form action="/<%= currentUser.id%>/updateProfile?_method=PUT" method="POST">
    <div class="modal-header text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel">
            <strong>Edit Profile</strong>
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body mx-4" id="tabOne">
        <div class="md-form mb-5">
            <input type="text" id="forUsername" name="username" class="form-control validate"
                value="<%= user.username %>">
            <label data-error="wrong" data-success="right" class="active" for="forUsername">
                Change Your Username
            </label>
        </div>
        <div class="md-form mb-5">
            <input type="text" id="forUsername" name="" class="form-control validate"
                value=""> <!-- TODO: fill out name-->
            <label data-error="wrong" data-success="right" class="active" for="forEmail">
                email
            </label>
        </div>

        <div class="md-form pb-3">
            <input type="text" name="profilePicture" class="form-control validate" id="forProfilePicture"
                value="<%= user.profilePicture %>">
            <label data-error="wrong" data-success="right" class="active" for="forProfilePicture">
                Change Profile Picture
            </label>

            <p class="font-small blue-text d-flex justify-content-end">
                <a id="changePassword" role="tab" class="blue-text ml-1">
                    Change Password?
                </a>
            </p>
        </div>

        <div class="text-center mb-3 d-flex flex-row">
            <button type="submit" class="btn btn-outline-danger btn-block btn-rounded z-depth-1a mr-2">Update User</button>
            <button type="submit" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Update User</button>
        </div>

    </div>

    <div class="modal-body mx-4 d-none" id="tabTwo">
        <div class="md-form mb-5">
            <input type="password" id="forUsername" name="oldPassword" class="form-control validate">
            <label data-error="wrong" data-success="right" class="active" for="forUsername">
                Old Password
            </label>
        </div>

        <div class="md-form pb-3">
            <input type="text" name="newPassword" class="form-control validate" id="forProfilePicture">
            <label data-error="wrong" data-success="right" class="active" for="forProfilePicture">
                New Password
            </label>
            <p class="font-small blue-text d-flex justify-content-end">
                <a id="changeUsername" role="tab" class="blue-text ml-1">
                    Change Username
                </a>
            </p>
        </div>

        <div class="text-center mb-3">
            <button type="submit" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Update User</button>
        </div>

    </div>

    <script>
        $("#changePassword").on("click", () => {
            $("#tabOne").addClass("d-none")
            $('#tabTwo').removeClass("d-none")
        })
        $("#changeUsername").on("click",() => {
            $("#tabOne").removeClass("d-none")
            $('#tabTwo').addClass("d-none")
        })
    </script>
</form>