<!-- TODO: Display a chart of all classes based on high grade to the lowest  -->
<!-- TODO: Display a chart of all classes based on points left to loose -->
<!-- TODO: Display the current GPA -->

<% include partials/header %>

<h1>Home Page</h1>
<h3>I am here <%= classFound %></h3>
<canvas id="myChart"></canvas>
<canvas id="another"></canvas>
<script src="/js/home.js"></script>

<% include partials/footer %>