<% include partials/header %>
<body>
    <div class="text-center">
        <h1 class="pt-5">Home Page</h1>
        <p class="lead">Under Construction. Please click "Classes" link to continue</p>
    </div>
</body>
<% include partials/footer %>