<% include partials/header %>
// TODO: change the action parth
// TODO: Add classes to this form
  <form class="" action="index.html" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit">SignUp</button>
  </form>
<% include partials/footer %>
