<% include ../partials/header %>

<link rel="stylesheet" href="/stylesheets/class.css">
<div id="container">
  <h1> Class List
    <a href="/classes/new">
      <div class="ui icon button" data-tooltip="Add Class">
        <i class="plus icon" id="change-color"></i>
      </div>
    </a>
  </h1>
  <ul>
    <% classes.forEach(function(oneClass){ %>
      <li class="className">
        <span><i class="fas fa-trash-alt"></i></span>
        <a href="/classes/<%= oneClass._id %>"> <%= oneClass.className %></a>
      </li>
    <% }) %>
  </ul>
</div>

<% include ../partials/footer %>
