<% include ../partials/header %>
<form action="/classes" method="post">
  <div class="ui raised very padded text container">
    <h1 class="ui huge header" id="header">Create a New Class</h1>
    <div class="ui segment">
      <div class="ui  big form">
        <div class="field">
          <label>Class Name</label>
          <input placeholder="Class Name" type="text" name="class[className]">
        </div>
        <div class="field">
          <label>Course Name</label>
          <input placeholder="Course Name" name="class[courseName]" type="text">
        </div>
        <div class="field">
          <label>Professor Name</label>
          <input placeholder="Professor Name" name="class[professor]" type="text">
        </div>
        <button class="ui inverted blue button">Submit
        </button>
      </div>
    </div>
  </div>
</form>



<% include ../partials/footer %>
