<% include ./partials/header %>
<!-- // TODO: change the action parth -->
<!-- // TODO: Add classes to this form -->

  <form class="" action="index.html" method="post">
    <input type="text" name="class[className]" placeholder="Class Name">
    <input type="text" name="class[courseName]" placeholder="Course Name">
    <input type="text" name="class[professor]" placeholder="Professor">
    <button type="submit"> Submit</button>
  </form>

<% include ./partials/footer %>
