<form
  id="addClassForm"
  action="/users/<%= currentUser._id %>/classes/"
  method="post"
>
  <div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold text-primary ml-5">
      Add new Class
    </h4>
    <button
      type="button"
      class="close text-primary"
      data-dismiss="modal"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body mx-3">
    <div class="md-form mb-5">
      <input
        class="form-control validate"
        id="className"
        type="text"
        name="class[className]"
      />
      <label for="className">Class Name</label>
    </div>

    <div class="md-form mb-5">
      <input
        class="form-control validate"
        id="courseName"
        name="class[courseName]"
        type="text"
      />
      <label for="courseName">Course Name</label>
    </div>

    <div class="md-form mb-5">
      <input
        class="form-control validate"
        id="professor"
        name="class[professor]"
        type="text"
      />
      <label for="professor">Professor Name</label>
    </div>
  </div>

  <div class="modal-footer d-flex justify-content-center buttonAddFormWrapper">
    <button
      type="submit"
      id="submit"
      class="btn btn-outline-primary btn-block buttonAdd"
    >
      Add Class
      <i class="fas fa-paper-plane-o ml-1"></i>
    </button>
  </div>
</form>
