body{
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  background: #2980b9;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.className{
  background: white;
  height: 60px;
  line-height: 40px;
  color: #666;
  padding-top:0.5rem;
}

.className:nth-child(2n) {
  background: #f7f7f7;
}

/* classes/index.js the form outline */
.delete-form{
  display: inline;
}

li:hover a.deleteClass{
  width:40px;
  height: 60px;
  opacity: 1.0;
}

a.deleteClass{
  background: #e74c3c;
  height: 60px;
  margin-right: 0;
  margin-top: -0.5rem;
  padding-top: 10px;
  border: 50px;
  text-align: center;
  color: white;
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity:0;
  float: right;
}
a.classTitle{
  margin-top:1rem;
}

#container {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  width: 700px;
  margin: 100px auto;
  background: #f7f7f7;
}
