
#container {
  width: 500px;
  margin: 10px auto;
}
#header {
  margin-top: 90px;
  text-align:center;
}

.form-control{
  width: 500px;
  text-align: center;
}

.show-page {
  text-align: center;
  margin-top: 50px;
}

.ui.button{
  float: right;
  background-color: inherit;
}

i.plus{
  font-size: 2rem;
  color:#4183c4;
}
#change-color{
  color:white;
}

.ui.button:hover {
  background-color: inherit;
}
