.bodyBackground{
  background-color: #EEEEEE;
}

/* Making sure the headers on the form are in the center from the top  */
#header {
  margin-top: 70px;
  text-align:center;
}

/* hide the assignment stats div  */
#assignmentStats{
  display: none;
  width:100%;
  padding: 5px;
  margin-bottom: 30px;
}

/* Grade Picker  */
.ui.selection.dropdown{
  width: 50px;
  text-align: center;
}
.ui.selection.dropdown .menu>.item  {
  text-align: center;
}

/* Maximize and minimize grade Picker div  */
#widnow{
  width:100%;
  padding: 5px;
}

#title_bar{
  background: #FEFEFE;
  height: 25px;
  width: 30px;
  float: right;
}
#button{
  border: none;
  text-align: center;
  width: 25px;
  height: 23px;
  cursor:pointer;
}
#box{
  height: auto;
  margin-top: 30px;
  background-color: #EEEEEE;
}
#button2{
  border: none;
  text-align: center;
  width: 25px;
  height: 23px;
  cursor:pointer;
}
#box2{
  height: auto;
  margin-top: 30px;
  background-color: #EEEEEE;
}

/* classes/index.js the popover plus icon */
#plus-sign{
  float: right;
}
