.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.wrapper {
    display: flex;
    align-items: stretch;
}

#content {
    width: 100%;
    min-height: 100vh; 
    transition: all 0.3s;
}

#sidebar.active {
    margin-right: -1200px;
}

#sidebar {
    background: #EAEDED;
    color: #fff;
    min-width: 495px; 
    min-height: 100vh; 
    margin-top: 80px;
    transition: all 0.3s;
}

a[data-toggle="collapse"] {
    position: relative;
}


