<form
  id="addAssignmentForm"
  action="/users/<%= currentUser._id %>/classes/<%= classFound._id %>/assignments"
  method="post"
>
  <div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold text-info ml-5">
      Add new Assignment
    </h4>
    <button
      type="button"
      class="close text-primary"
      data-dismiss="modal"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body mx-3">
    <div class="md-form mb-5">
      <input
        class="form-control validate"
        required
        id="inputName"
        type="text"
        name="assignment[name]"
      />
      <label for="inputName">Assignment Name</label>
    </div>

    <div class="md-form mb-5">
      <input
        name="assignment[grade]"
        required
        onblur="checkTotal()"
        type="text"
        id="editGrade"
        value="NG"
        class="form-control validate"
      />
      <label class="active">Grade</label>
      <label id="gradeErr" class="text-info"
        >Please Input 'NG' if it's Not Graded</label
      >
    </div>

    <div class="md-form">
      <input
        name="assignment[maxPoints]"
        required
        onblur="checkTotal()"
        id="editTotal"
        type="number"
        class="form-control validate mb-0"
      />
      <label for="editTotal">Total</label>
      <label id="error">The total has to be greater than the grade</label>
    </div>

    <div class="btn-group">
      <!-- if there is a category: Make it required  -->
      <% if(classFound.categories.length != 0){ %>
      <button
        type="button"
        class="btn btn-info dropdown-toggle"
        data-toggle="dropdown"
        required
      >
        Pick A Category
      </button>
      <!-- if there is no category: make it d-none -->
      <%} else{ %>
      <button
        type="button"
        class="btn btn-info dropdown-toggle d-none"
        data-toggle="dropdown"
      >
        Pick A Category
      </button>
      <%} %>
      <div class="dropdown-menu">
        <% classFound.categories.forEach(function(category){ %>
        <a class="dropdown-item" data-value="<%= category._id %>" name="category"
          ><%= category.name %></a
        >
        <div class="dropdown-divider"></div>
        <% }) %>
      </div>
    </div>
  </div>

  <input type="hidden" name="assignment[categoryId]" />

  <div class="modal-footer d-flex justify-content-center buttonAddFormWrapper">
    <button
      type="submit"
      id="submit"
      class="btn btn-outline-info btn-block buttonAdd"
    >
      Add Assignment
      <i class="fas fa-paper-plane-o ml-1"></i>
    </button>
  </div>
</form>

<script src="/js/assignmentForms.js"></script>
<script>
  $(".dropdown-menu a").click(function () {
    $(".dropdown-toggle").html($(this).parents(".dropdown").context.innerHTML);
    dataValue = $(this).attr("data-value");
    $('input[name="assignment[categoryId]"]').val(dataValue);
  });
</script>

<style media="screen">
  #error {
    margin-top: 30px;
    color: #cd5c5c;
    font-size: inherit;
    visibility: hidden;
  }

  #gradeErr {
    margin-top: 30px;
  }

  .md-form .text-info.active,
  #error.active {
    transform: translateY(0%);
    font-size: 1rem;
    transition: none;
  }
</style>
