<form id="addAssignmentForm" action="/classes/<%= classFound._id %>/assignment" method="post">
  <div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold text-primary ml-5">Add new Assignment</h4>
    <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body mx-3">
    <div class="md-form mb-5">
      <input name="assignment[name]" type="text" id="inputName" class="form-control validate">
      <label for="inputName">Assignment Name</label>
    </div>

    <div class="md-form mb-5">
      <input name="assignment[grade]" required onblur="checkTotal()" type="number" id="editGrade"
        class="form-control validate">
      <label for="editGrade">Grade</label>
    </div>

    <div class="md-form mb-5">
      <input name="assignment[total]" required onblur="checkTotal()" id='editTotal' type="number"
        class="form-control validate">
      <label for="editTotal">Total</label>
      <label id="error">The total has to be greater than the grade</label>
    </div>
    <!-- btn-mdb-color -->
    <div class="dropdown mt-0" required>
      <button class="btn btn-primary  dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Choose A Category</button>

      <div class="dropdown-menu dropdown-primary" required>
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>

  <div class="modal-footer d-flex justify-content-center buttonAddFormWrapper">
    <button type="submit" id="submit" class="btn btn-outline-primary btn-block buttonAdd">Add Assignment
      <i class="fas fa-paper-plane-o ml-1"></i>
    </button>
  </div>
</form>

<script src="/js/assignmentForms.js"></script>
<style media="screen">
  #error {
    margin-top: 4em;
    color: #CD5C5C;
    font-size: inherit;
    visibility: hidden;
  }
</style>