<form id="addAssignmentForm" action="/users/<%= currentUser._id %>/classes/<%= classFound._id %>/assignments"
  method="post">
  <div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold text-info ml-5">Add new Assignment</h4>
    <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body mx-3">
    <div class="md-form mb-5">
      <input class="form-control validate" id="inputName" type="text" name="assignment[name]">
      <label for="inputName">Assignment Name</label>
    </div>

    <div class="md-form mb-5">
      <input name="assignment[grade]" required onblur="checkTotal()" type="text"  id="editGrade"
      placeholder="NG" class="form-control validate">
      <label class="active">Grade</label>
      <label id="gradeErr" class="text-info">Please Input 'NG' if it's Not Graded</label>
    </div>

    <div class="md-form">
      <input name="assignment[total]" required onblur="checkTotal()" id='editTotal' type="number"
        class="form-control validate mb-0">
      <label for="editTotal">Total</label>
      <label id="error">The total has to be greater than the grade</label>
    </div>
  </div>

  <h3 style="display: inline-block; margin-right:10px;" class="ui header">
    <label>Pick A Category: </label>
  </h3>

  <select class="ui selection mb-4 dropdown" name="assignment[category]">
    <% classFound.categories.forEach(function(category){ %>
    <option value="<%= category._id %>"><%= category.name %></option>
    <% }) %>
  </select>

  <div class="modal-footer d-flex justify-content-center buttonAddFormWrapper">
    <button type="submit" id="submit" class="btn btn-outline-info btn-block buttonAdd">Add Assignment
      <i class="fas fa-paper-plane-o ml-1"></i>
    </button>
  </div>

</form>

<script src="/js/assignmentForms.js"></script>

<style media="screen">
  #error {
    margin-top: 30px;
    color: #CD5C5C;
    font-size: inherit;
    visibility: hidden;
  }

  #gradeErr {
    margin-top: 30px
  }
  .md-form .text-info.active, #error.active{
    transform:translateY(0%);
    font-size: 1rem;
    transition: none;
  }
</style>