
  <form  id="addAssignmentForm" action="/classes/<%= classFound._id %>/assignment" method="post">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold text-primary ml-5">Add new Assignment</h4>
      <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3">
      <div class="md-form mb-5">
        <input name="assignment[name]" type="text" id="inputName" class="form-control validate">
        <label data-error="wrong" data-success="right" for="inputName">Assignment Name</label>
      </div>

      <div class="md-form mb-5">
        <input  name="assignment[grade]" type="text" id="inputPosition" class="form-control validate">
        <label data-error="wrong" data-success="right" for="inputPosition">Grade</label>
      </div>

      <div class="md-form mb-5">
        <input  name="assignment[total]" type="text" id="inputOfficeInput" class="form-control validate">
        <label data-error="wrong" data-success="right" for="inputOfficeInput">Total</label>
      </div>
    </div>

    <div class="modal-footer d-flex justify-content-center buttonAddFormWrapper">
      <button onclick="form_submit()"
              type="submit"
              class="btn btn-outline-primary btn-block buttonAdd"
              data-dismiss="modal">Add Assignment
        <i class="fas fa-paper-plane-o ml-1"></i>
      </button>
    </div>
  </form>

<script type="text/javascript">
  function form_submit(){
    $('#addAssignmentForm').submit()
  }
</script>
